# Unreal generated folders
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# IDEs
.vs/
.vscode/
*.VC.db
*.opensdf
*.opendb
*.sdf
*.suo

# Logs
*.log

# Optional: regenerate locally
# *.sln

# macOS / Xcode
*.xcodeproj
*.xcworkspace
.DS_Store
